data/*/
data/*.tar
models/*.tar
**/.ipynb_checkpoints/
.log
hailo_logs/
*.log
hailo
*.har
*.txt
*.tflite
models/model2023/EfficientNetV2
models/model2023/ConvNextBase
models/model2024/ConvNextBase_species
models/model2024/ConvNextBase_taxonomy
venv